/.vs
/GraphAn/.vs

bin/
obj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

*.log
.vs/
packages/
*.nupkg
*.env

*.bak
*.tmp
*.temp
*.cache

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
*.iml

*.db